Flask==2.3.3
gunicorn
numpy==1.26.4 
opencv-python-headless==4.8.0.76
scikit-image==0.20.0
scikit-learn==1.4.2
scipy==1.11.4

keras==3.8.0 
tensorflow-cpu==2.16.1 # O 2.17.0 si encuentras una versión CPU estable.
                       # Esta versión de TF es para asegurar que el backend de TF está disponible para Keras 3.

# Dependencias mínimas adicionales (Keras 3 y TF las traerán si las necesitan explícitamente)
h5py # Keras lo usa para guardar/cargar
packaging # Keras 3 lo usa
# ml-dtypes # Keras 3 lo usa
# namex # Keras 3 lo usa
# optree # Keras 3 lo usa
# rich # Keras 3 lo usa

# Dependencias de Flask
MarkupSafe
Werkzeug
itsdangerous # Añadido porque Flask lo necesita, usualmente viene con Flask
Jinja2 # Añadido porque Flask lo necesita, usualmente viene con Flask
click # Añadido porque Flask lo necesita, usualmente viene con Flask
blinker # Añadido porque Flask lo necesita, usualmente viene con Flask